<h2 align="center">User Registration</h2>
<table border="1" align="center">
    
    <tr>
        <th>User Name</th>
        <th><input type="text"></th>
    </tr>
    <tr>
        <th>User Password</th>
        <th><input type="password"></th>
    </tr>
    <tr>
        <th>Deposit Amount</th>
        <th><input type="number"></th>
    </tr>
    <tr colspan=2>
        <th colspan="2"> <button>Register</button></th>
    </tr>
    
</table>